* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    text-decoration: none; 
    background: none; 
    border: none; 
} 
 
body { 
    font-family: "Roboto", sans-serif; 
    background: #4f3963; 
    background: linear-gradient(0deg, #4f3963 0%, #764469 60%, rgba(94,62,#5e3e6644,33,66,1) 100%); 
} 
 
header { 
    width: 1520px; 
    margin: 75px auto; 
 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
 
    position: relative; 
    z-index: 10; 
} 
 
header button { 
    font-size: 18px; 
    color: white; 
    cursor: pointer; 
    transition: all .1s linear; 
} 
 
header button:nth-of-type(2) { 
    border: 2px solid white; 
    border-radius: 5px; 
    padding: 10px 38px; 
} 
 
header button:hover { 
    color: #FFD9D9; 
    border-color: #FFD9D9; 
} 
 
header button:active { 
    color: white; 
    border-color: white; 
} 
 
nav { 
    display: flex; 
    gap: 20px; 
} 
 
.banner { 
    background: rgb(212,91,120); 
    background: linear-gradient(200deg, rgba(212,91,120,1) 0%, rgba(75,56,98,1) 80%); 
    color: white; 
 
    width: 100%; 
    height: 100vh; 
 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
 
    position: relative; 
    margin-top: -267px; 
    overflow: hidden; 
} 
 
.banner img { 
    width: 1305px; 
    height: 565px; 
} 
 
.banner h1 { 
    font-size: 64px; 
    line-height: 75px; 
    margin-top: 14px; 
} 
 
.banner p { 
    text-align: center; 
    font-weight: 300; 
    font-size: 24px; 
    line-height: 36px; 
    margin-top: 37px; 
    color: #F2F2F2; 
} 
.banner button { 
    background-color: #D75C78; 
    padding: 17px 55px; 
    font-size: 36px; 
    text-transform: uppercase; 
    color: white; 
    margin-top: 20px; 
    cursor: pointer; 
    border-radius: 5px; 
    filter: drop-shadow(0 17px 32px 0 #00000040); 
 
    position: relative; 
    z-index: 10; 
} 
 
.banner button:hover { 
    background-color: #DF4C6E; 
} 
 
.banner button:active { 
    background-color: #C83E5D; 
} 
 
.head_decore_left { 
    position: absolute; 
    left: -400px; 
    top: 400px; 
} 
 
.head_decore_right { 
    position: absolute; 
    right: -400px; 
    top: 400px; 
} 
 
.start { 
    display: flex; 
    gap: 44px; 
 
    width: max-content; 
    margin: auto; 
} 
 
.start_left, .start_right { 
    display: flex; 
    flex-direction: column; 
    gap: 160px; 
} 
 
.start_left { 
    margin-top: 460px; 
} 
 
.start_right::before { 
    content: ''; 
    background-image: url(./img/scuba\ diver.svg); 
    background-size: contain; 
    width: 577px; 
    height: 449px; 
    filter: drop-shadow(10px 10px 10px #00000040); 
    margin-top: 111px; 
    background-repeat: no-repeat;
} 
 
.start_left::after { 
    content: ''; 
    background-image: url(./img/scuba\ divertwo.svg); 
    background-size: contain; 
    width: 474px; 
    height: 325px; 
    filter: drop-shadow(10px 10px 10px #00000040); 
    background-repeat: no-repeat;
} 
 
.start_item { 
    position: relative; 
    width: 738px; 
    height: 308px; 
 
    padding: 87px 102px 82px 125px; 
 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    gap: 25px; 
 
    border-radius: 5px; 
    background-color: #523A64; 
    color: #F2F2F2; 
 
    overflow: hidden; 
    box-shadow: 6px 10px 45px -9px #00000040; 
 
} 
 
.start_item::before { 
    content: '02'; 
    position: absolute; 
    font-size: 96px; 
    font-weight: bold; 
    color: #944B6E; 
    top: 43px; 
    left: -18px; 
} 
 
.start_left .start_item:nth-child(1)::before { 
    content: '01'; 
} 
 
.start_left .start_item:nth-child(2)::before { 
    content: '03'; 
} 
 
.start_right .start_item:nth-child(1)::before { 
    content: '02'; 
} 
 
.start_right .start_item:nth-child(2)::before { 
    content: '04'; 
} 
 
.media { 
    margin-top: 160px; 
     
    display: flex; 
    flex-direction: column; 
    gap: 110px; 
} 
 
.media h2 { 
    margin-left: 200px; 
    font-size: 64px; 
    color: #F6F6F6; 
} 
 
.media iframe { 
    width: 100%; 
    height: 668px; 
}

.service_ {
    display: flex;
    justify-content: center;
    gap: 352px;
    margin-top: 330px;
    position: relative;
    width: 1520px;
    margin: 0 auto;
    margin-top: 330px;

}

.service::before {
    content: url(./img/submarine.svg);
    position: absolute;
    top: -330;
    right: -0;

}

.service::after {
    content: url(./img/fish.svg);
    position: absolute;
    bottom: -300px;
    left: -180px;
}

.service_item {
    padding: 50px 65px;
    background-image: url(./img/bg-service.svg);
    background-size: contain;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.service_item h2 {
    font-size: 48px;
    font-weight: 700px;
    line-height: 72px;
    color: white;
}

.service_item p {
    color: #F2F2F2;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

}

.service_item button {
    font-size: 36px;
    line-height: 42px;
    color: white;
    margin-top: 60px;
    border: solid 5px white;
    padding: 17px 50px;
    cursor: pointer;
}

footer {
    height: 452px;
    width: 100%;
    margin: 0 auto;
    background-image: url(./img/bg-service.svg);
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    header {
        width: 1024px;
    }

    .banner img {
        width: 905px;
        height: 365px;
    }

    .start_item {
        width: 538px;
        height: 208px;

    }

    .service_item h2 {
        font-size: 18px !important;


    }

    .service {
        width: 924px;
    }


    .head_decore_right {
        width: 200px;
    }
}